
.about-company__wrapper {
  padding-top: 45px;
  background-color: $bg-dark;
  background-image: url(../img/about-bg_x1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  color: $text-light;
  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    background-image: none;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding-top: 60px;
  }
}

.about-company__content {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 732px;
  }

  @media (min-width: $desktop-width) {
    width: 1152px;
  }
}

.about-company__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  &::before {
    background-color: $bg-light;
  }
}

.about-company__description {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 10px 50px;
    width: 580px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 12px 12px;
  }
}

.about-company__text{
  margin: 0;
  margin-bottom: 41px;
  padding-top: 39px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 10px 54px;
    width: 55%;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
    margin: 0 12px 50px;
  }

  &::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 16px;
    background-image: url(../img/svg/quote.svg);
    top: 0;
  }
}



