button {
  vertical-align: top;
}

.button {
  font: inherit;
  text-align: center;
  color: #F5F5F5;
  margin: 0;
  padding: 0;
  background-color: #4F11FF;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;

  &--popUp {
    min-width: 260px;
    padding-top: 20px;
    padding-bottom: 21px;
  }

  &--popUp:hover {
    text-align: left;
    padding-left: 49px;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/svg/arrow-button.svg);
      width: 18px;
      height: 15px;
      margin-top: 2px;
      margin-left: 16px;
    }
  }
}
