.button {
  font: inherit;
  text-align: center;
  color: $text-light;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;

  &--popUp {
    min-width: 260px;
    padding-top: 20px;
    padding-bottom: 21px;
  }

  &--popUp:hover {
    text-align: left;
    padding-left: 49px;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/svg/arrow-button.svg);
      width: 18px;
      height: 15px;
      margin-top: 2px;
      margin-left: 16px;
    }
  }

  &--slider {
    padding: 22px 19px 23px;
    width: 60px;
    height: 60px;

    &:hover:not(&-disabled) {
      opacity: 0.8;
    }

    &-disabled {
      background-color: $bg-dark;
    }
  }

  &--question {
    background-color: $bg-extra;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 19px;
      width: 2px;
      border-radius: 1px;
      height: 20px;
      background-color: $primary-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 19px;
      left: 10px;
      width: 20px;
      height: 2px;
      border-radius: 1px;
      background-color: $primary-color;
    }

    &--active {
      background-color: $bg-extra;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;


      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 19px;
        width: 2px;
        height: 20px;
        border-radius: 1px;
        transform: rotate(45deg);
        background-color: $accent-red;
      }

      &::after {
        content: "";
        position: absolute;
        top: 19px;
        left: 10px;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        transform: rotate(45deg);
        background-color: $accent-red;
      }
    }
  }
}


