.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $desktop-width) {
    gap: 17px;
  }
}

.cards__item {
  max-width: 300px;

  @media (min-width: $tablet-width) {
    max-width: 354px;
  }

  @media (min-width: $desktop-width) {
    max-width: 372px;
  }
}
