.card {
  background: #F5F5F5;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  min-height: 242px;
  display: flex;
  flex-direction: column;
  padding: 23px 15px 20px;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 255px;
  }

  @media (min-width: $desktop-width) {
    box-shadow: none;

    .card__button {
      visibility: hidden;
    }

    &:hover {
      box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);

      .card__button {
        visibility: visible;
      }
    }
  }
}

.card__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
  padding-left: 55px;
  min-height: 38px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-left: 65px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  &::before {
    background-color: $bg-extra;
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    left: 0;
  }
}

.card__description {
  font-size: 14px;
  margin: 0;
  margin-bottom: auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.card__button {
  display: inline-block;
  position: relative;
  background-color: $bg-extra;
  border: 0;
  color: $text-dark;
  padding: 10px 42px 11px 16px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;

  &::after {
    content: "";
    background-image: url(../img/svg/arrow-btn-card.svg);
    width: 15px;
    height: 8px;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}
