.forms {
  background-color: $bg-dark;
  color: $text-light;
  border-radius: 20px;
}

.forms__wrapper {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 732px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 60px;
    background-image: url(../img/svg/bg-forms-gsg.svg);
    background-repeat: no-repeat;
    background-position: right 60px;
  }
}

.forms__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  &::before {
    background-color: $bg-light;
  }
}

.forms__descrtiption {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 10px 55px;
    padding-right: 90px;
  }
}

.forms__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    margin: 0 10px;
    width: calc(50% - 20px);
  }

  .dots::after {
    top: 5px;
  }
}

.forms__item {
  padding-left: 22px;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.forms__manager {
  padding-top: 20px;
  margin-bottom: 50px;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-top: 10px;
    margin-left: 22px;
    margin-bottom: 83px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 3px;
    background-color: $accent-gold;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 55px;
    }
  }
}

.forms__manager-img {
  border: 2px solid $accent-gold;
  border-radius: 50%;
}

.forms__manager-text {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.forms__manager-name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.forms__manager-jobTitle {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}


