.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 732px;
  }
}

.form__wrapper{
  display: flex;
  flex-direction: column;

  &--flex {
    @media (min-width: $tablet-width) {
      flex-wrap: wrap;
      max-height: 220px;
      gap: 24px;
      margin-bottom: 40px;
    }
  }

  &--tel {
    @media (min-width: $tablet-width) {
      order: 1;
      width: 354px;
    }

    @media (min-width: $desktop-width) {
      width: 360px;
    }
  }

  &--mail {
    @media (min-width: $tablet-width) {
      order: 2;
      width: 354px;
    }

    @media (min-width: $desktop-width) {
      width: 360px;
    }
  }

  &--area {
    @media (min-width: $tablet-width) {
      order: 3;
      width: 354px;
    }

    @media (min-width: $desktop-width) {
      width: 360px;
    }
  }

  &--button {
    align-items: center;

    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }
}


.form__label {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    padding-left: 10px;
  }
}

.form__input {
  font-size: inherit;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  background-color: $bg-light;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  &:focus {
    outline: 2px solid #2C9AFF;
  }
}

.form__textarea {
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;;
  box-sizing: border-box;
  resize: none;
  height: 130px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    height: 175px;
  }
}

.form__politics {
  display: flex;
  order: 2;
  margin: 0 10px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-top: 0;
    width: 250px;
  }
}

.form__checkbox {
  user-select: none;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid $bg-light;
  border-radius: 3px;
  top: calc(50% - 8px);
  left: 0;
}

.form__checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  background-color: $primary-color;
  border-radius: 3px;
  top: calc(50% - 8px);
  left: 0;
}

.form__checkbox:checked + label::after{
  content: "";
  position: absolute;
  width: 8px;
  height: 9px;
  border: none;
  background-image: url(../img/svg/chekbox.svg);
  top: calc(50% - 4.5px);
  left: 4px;
}

.form__politics-label {
  padding-left: 31px;
  font-size: 12px;
  position: relative;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
