.geography {
  min-height: 558px;
  position: relative;
  overflow-x: hidden;
  padding-top: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    min-height: 831px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 190px;
    min-height: 732px;
  }
}

.geography__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 732px;
  }

  @media (min-width: $desktop-width) {
    width: 1152px;
  }
}

.geography__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.geography__descrtiption {
  @media (min-width: $tablet-width) {
    margin: 0 10px;
    max-width: 585px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 12px;
    max-width: 625px;
  }
}

.geography__img {
  top: 37px;
  left: 50%;
  width: 678px;
  margin-left: -289px;
  position: absolute;
  @media (min-width: $tablet-width) {
    bottom: 0;
  }
}
