.marketplace__wrapper {
  padding-top: 90px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 120px;
    width: 732px;
  }
}

.marketplace__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.marketplace__descrtiption {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 10px 60px;
  }
}

.marketplace__list{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 15px;
  }
}

.marketplace__card:nth-child(2) {
  max-width: 255px;
}

.marketplace__card-title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-top: 73px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    height: 50px;
    width: 44px;
  }

  &--fbs::before {
    background-image: url(../img/svg/fbs-icon.svg);
  }

  &--box::before {
    width: 42px;
    background-image: url(../img/svg/box-icon.svg);
  }

  &--hand-box::before {
    background-image: url(../img/svg/hand-box-icon.svg);
  }
}

.marketplace__card-description {
  margin-bottom: 30px;
}
