.marketplace__wrapper {
  padding-top: 90px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 120px;
    width: 732px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
    width: 1152px;
  }
}

.marketplace__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.marketplace__descrtiption {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 10px 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 12px 65px;
    max-width: 68%;
  }
}

.marketplace__list{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 24px;
    padding: 0 12px;
  }
}

.marketplace__card {
  @media (min-width: $desktop-width) {
    width: 360px;

    &:nth-child(3) {
      .marketplace__card-description {
        max-width: 323px;
      }
    }
  }

}

.marketplace__card:nth-child(2) {
  @media (min-width: $tablet-width) and (max-width: $mobile-and-tablet-only) {
    max-width: 255px;
  }
}

.marketplace__card-title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-top: 73px;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    height: 50px;
    width: 44px;
  }

  &--fbs::before {
    background-image: url(../img/svg/fbs-icon.svg);
  }

  &--box::before {
    width: 42px;
    background-image: url(../img/svg/box-icon.svg);
  }

  &--hand-box::before {
    background-image: url(../img/svg/hand-box-icon.svg);
  }
}

.marketplace__card-description {
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    max-width: 339px;
  }
}
