.promo {
  color: $text-light;
  position: relative;
  min-height: 974px;
  margin-top: 40px; //если хедер с позишн фиксед

  @media (min-width: $tablet-width) {
    min-height: 924px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
    min-height: 650px;
    height: calc(100vh - 95px);
    max-height: 845px;
    // overflow: hidden;
  }
}

.promo__bg {
  background-repeat: no-repeat;
  background-color: $bg-dark;
  background-image: url(../img/bg-promo.jpg);
  background-position-y: 58%;
  background-position-x: center;
  background-size: 1440px;
  padding-top: 120px;
  padding-bottom: 183px;

  @media (min-width: $tablet-width) {
    padding-top: 164px;
    padding-bottom: 222px;
  }

  @media (min-width: $desktop-width) {
    min-height: 100%;
    background-size: cover;
    padding: 0;
    // padding-top: 164px;
  }
}

.promo__wrapper {
  width: 300px;
  // width: 93.75%;
  // width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 707px;
    text-align: left;
    padding: 0 13px;
  }

  @media (min-width: $desktop-width) {
    width: 1152px;
    padding: 0 12px;
  }
}

.promo__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15vh;
    width: 66%;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-full) {
    padding-top: 20vh;
  }
}

.promo__description {
  padding: 0 15px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    padding: 0;
    padding-right: 103px;
  }

  @media (min-width: $desktop-width) {
    width: 605px;
    padding: 0;
    margin-bottom: 45px;
  }
}

.promo__bullets {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 10vh;
  }

  // @media (min-width: $desktop-full) {
  //   margin-bottom: 95px;
  // }
}


