.promo {
  color: $text-light;
  position: relative;
  min-height: 974px;
  margin-top: 40px; //если хедер с позишн фиксед

  @media (min-width: $tablet-width) {
    min-height: 924px;
  }
}

.promo__bg {
  background-repeat: no-repeat;
  background-color: $bg-dark;
  background-image: url(../img/bg-promo.jpg);
  background-position-y: 58%;
  background-position-x: center;
  background-size: 1440px;
  padding-top: 120px;
  padding-bottom: 183px;

  @media (min-width: $tablet-width) {
    padding-top: 164px;
    padding-bottom: 222px;
  }
}

.promo__wrapper {
  width: 300px;
  // width: 93.75%;
  // width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 707px;
    text-align: left;
    padding: 0 30px;
  }
}

.promo__title {
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.promo__description {
  padding: 0 15px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    padding: 0;
    padding-right: 103px;
  }
}

.promo__bullets {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}


