.slider-sol__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-sol__item {
  border: 1px solid rgba($bg-dark, 0.1);
  border-radius: 3px;
  position: relative;
  min-height: 360px;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 24px 15px 20px;

  &::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: $primary-color;
    top: -1px;
    right: -1px;
    border-radius: 0px 3px;
  }
}

.slider-sol__title {
  padding-top: 85px;
  margin: 0;
  position: relative;
  font-size: 18px;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: $bg-extra;
  }

  &::after {
    position: absolute;
    content: "";
    top: 19px;
    left: 18px;
    width: 43px;
    height: 30px;
  }

  &--1::after {
    width: 37px;
    background-image: url(../img/svg/01.svg);
  }

  &--2::after {
    width: 42px;
    background-image: url(../img/svg/02.svg);
  }

  &--3::after {
    background-image: url(../img/svg/03.svg);
  }

  &--4::after {
    background-image: url(../img/svg/04.svg);
  }

  &--5::after {
    background-image: url(../img/svg/05.svg);
  }

  &--6::after {
    background-image: url(../img/svg/06.svg);
  }

  &--7::after {
    background-image: url(../img/svg/07.svg);
  }

  &--8::after {
    background-image: url(../img/svg/08.svg);
  }

  &--9::after {
    background-image: url(../img/svg/09.svg);
  }
}

.slider-sol__controls {
  text-align: center;
  margin-bottom: 25px;
}

.slider-sol__control {
  background-color: rgba($bg-dark, 0.3);
  border: 3px solid $bg-light;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  padding: 0;
  box-sizing: content-box;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &--current {
    background-color: transparent;
    border: 3px solid $bg-dark;
  }
}

.slider-sol__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
