.stock {
  background-color: $bg-dark;
  background-image: url(../img/svg/bg-gsg-stock.svg);
  background-repeat: no-repeat;
  background-position: center top;
  color: $text-light;

  @media (min-width: $tablet-width) {
    background-image: url(../img/svg/bg-tablet-gsg-stock.svg);
    background-position: center 12%;
  }

  @media (min-width: $tablet-width) {
    background-image: url(../img/svg/bg-desktop-gsg-stock.svg);
    background-position: center 22%;
  }
}

.stock__wrapper {
  padding-top: 50px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    width: 732px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    width: 1152px;
  }
}

.stock__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  &::before {
    background-color: $bg-light;
  }
}

.stock__description {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin: 0 10px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin: 0 12px 45px;
  }
}

.stock__text {
  position: relative;
  padding-top: 22px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    max-width: 45%;
    padding-left: 12px;

  @media (min-width: $desktop-width) {
    max-width: 330px;
  }

    &.dots {
      &::after {
        top: 5px;
        left: -10px
      }
    }
  }

  b {
    font-size: 16px;
    font-weight: 700;
  }
}

.stock__image {
  width: 310px;
  margin: 0 auto;
  overflow-x: scroll;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    width: 732px;
    overflow-x: auto;
    margin-bottom: 0;
  }

  &::-webkit-scrollbar {
    border-radius: 4px;
    height: 8px;
    background-color: $bg-light;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $primary-color;
  }
}

.stock__additional-text {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


