.stock-works {
  background-color: $bg-dark;
  color: $text-light;
}

.stock-works__wrapper {
  padding-top: 90px;
  padding-bottom: 70px;
  width: 300px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 732px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 1152px;
    padding: 120px 0;
  }

  &--inner{
    margin-left: 10px;
    margin-right: 10px;
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.stock-works__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 12px;
    justify-content: space-between;
  }
}

.stock-works__title {
  margin-bottom: 22px;
  &::before {
    background-color: $bg-light;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.stock-works__description {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 10px 50px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 12px 60px;
    padding: 0;
    width: 700px;
  }
}

.stock-works__text {
  position: relative;
  margin: 0 10px 40px;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 50%;
    margin: 0 0 40px;
    padding-top: 32px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.stock-works__button {
  @media (min-width: $tablet-width) and (max-width:$mobile-and-tablet-only) {
    position: absolute;
    bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-top: 70px;
  }
}

.stock-works__manager {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    width: 744px;
    margin-top: 70px;
  }
}
