.tab {
  box-sizing: border-box;
  border: 1px solid $text-dark;
  color: $text-dark;
  background-color: $bg-light;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 13px 0 12px;
  width: 135px;
  font-size: 11px;

  &:hover {
    font-weight: 700;
  }

  &--active {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $text-light;
    font-weight: 700;
  }
}
