.tab {
  box-sizing: border-box;
  border: 1px solid $text-dark;
  color: $text-dark;
  background-color: $bg-light;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 13px 7px 12px;
  min-width: 135px;
  font-size: 11px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding: 16px 10px 17px;
    min-width: 171px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    min-width: 260px;
    padding: 20px 10px 21px;
  }

  &:not(&--active):hover {
    font-weight: 500;
    // box-shadow: 3px 5px 10px rgba($color: $bg-dark, $alpha: 0.15)
  }

  &--active {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $text-light;
    font-weight: 500;
  }
}
