/* Colors */

$bg-dark: #1B1F2C;
$bg-light: #F5F5F5;
$bg-extra: #E1E1E1;
$text-dark: #14112A;
$text-light: #F5F5F5;
$primary-color: #4F11FF;
$accent-green: #48BE34;
$accent-gold: #D7BC68;
$accent-red: #EF4242;
